OPENPROJECT_HOST=[OpenProject base url]
OPENPROJECT_API_KEY=[copy paste API key here]
USE_MOCK_DATA=false
ALLOWED_PROJECT_IDS=[project ids separated with comma]

# Path to the source CSV file
CSV_FILE_PATH=data/ISO_PMO_ET_2026.csv



